<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <app-navbar></app-navbar>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        
        
        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Mes opérations &#8594; Virement</h4>
                <form class="form-sample" (ngSubmit)="onSubmit(f)" #f="ngForm">
                  
                  <div class="row">
                    
                    <div class="col-md-10">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Comptes</label>
                        <div class="col-sm-9">
                          <select name="ribSource"  (change)="onSelected(t.value)" #t [value]='comptes[0].rib' ngModel class="form-control" required>
                            <option *ngFor="let compte of comptes" value="{{compte.rib}}" >{{compte.rib}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Votre solde</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="0.00€" [value]="solde" disabled/>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Après Virement</label>
                        <div class="col-sm-9">
                          <input class="form-control" [value]="newSolde" placeholder="0.00€" disabled/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Solde Virement</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" (keyup)="onWritingSolde($event)" ngModel name="soldeVirement" placeholder="0.00€"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Rib</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="RIB" ngModel name="rib" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                          <button type="submit" class="btn btn-primary btn-block">Effectuer Virement</button>
                      </div>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
            <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
            <mat-icon class="text-danger">favorite</mat-icon>
          </span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->