<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="text-wrapper">
            <p class="profile-name">{{nom}} {{prenom}}</p>
            <div>
              <small class="designation text-muted">Client</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <a class="btn btn-danger btn-block" style="color:white;cursor:pointer" [routerLink]="['/reclamation']">Réclamation</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard']">
        <mat-icon class="menu-icon">tv</mat-icon>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="button" style="cursor: pointer" [appDropdown]="manageDropDownMenu">
        <mat-icon class="menu-icon">local_atm</mat-icon>
        <span class="menu-title">Paiement des services</span>
        <mat-icon class="menu-arrow">arrow_right</mat-icon>
      </a>
      <div class="collapse" id="ui-basic" #manageDropDownMenu>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/facture']">Factures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/recharge']">Recharge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/p-historique']">Historique</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" role="button" style="cursor: pointer" [appDropdown]="manageDropDownMenu1">
        <mat-icon class="menu-icon">account_balance</mat-icon>
        <span class="menu-title">Ma relation banque</span>
        <mat-icon class="menu-arrow">arrow_right</mat-icon>
      </a>
      <div class="collapse" id="ui-basic" #manageDropDownMenu1>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mes-comptes']">Mes Comptes</a>
          </li>
        </ul>
      </div>
    </li>


    <li class="nav-item">
      <a class="nav-link" role="button" style="cursor: pointer" [appDropdown]="manageDropDownMenu2">
        <mat-icon class="menu-icon">last_page</mat-icon>
        <span class="menu-title">Mes opérations</span>
        <mat-icon class="menu-arrow">arrow_right</mat-icon>
      </a>
      <div class="collapse" id="ui-basic" #manageDropDownMenu2>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/virement']">Virements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/v-historique']">Historique</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" role="button" style="cursor: pointer" [appDropdown]="manageDropDownMenu3">
        <mat-icon class="menu-icon">account_circle</mat-icon>
        <span class="menu-title">Services</span>
        <mat-icon class="menu-arrow">arrow_right</mat-icon>
      </a>
      <div class="collapse" id="ui-basic" #manageDropDownMenu3>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/change-password']">Changement mot de passe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profil']">Information profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mes-reclamation']">Mes réclamation</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" role="button" style="cursor: pointer" [appDropdown]="manageDropDownMenu5">
          <mat-icon class="menu-icon">money</mat-icon>
          <span class="menu-title">Faire un don</span>
          <mat-icon class="menu-arrow">arrow_right</mat-icon>
        </a>
        <div class="collapse" id="ui-basic" #manageDropDownMenu5>
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/don']">Faire un don</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/d-historique']">Historique</a>
            </li>
          </ul>
        </div>
      </li>
  </ul>
</nav>