<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <app-navbar></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <flash-messages></flash-messages>
                  <h4 class="card-title">Services &#8594; Changement mot de passe</h4>
                  <form class="form-sample" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Ancien password</label>
                            <div class="col-sm-8">
                              <div class="input-group">
                                <div class="input-group-prepend bg-danger">
                                  <span class="input-group-text bg-transparent">
                                    <i class="text-white fa fa-shield"></i>
                                  </span>
                                </div>
                                <input type="password" class="form-control" name="oldPassword" ngModel placeholder="*************">
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">New password</label>
                          <div class="col-sm-8">
                            <div class="input-group">
                              <div class="input-group-prepend bg-primary">
                                <span class="input-group-text bg-transparent">
                                  <i class="text-white fa fa-shield"></i>
                                </span>
                              </div>
                              <input type="password" class="form-control" name="newPassword" ngModel placeholder="*************">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Confirm new password</label>
                          <div class="col-sm-8">
                            <div class="input-group">
                              <div class="input-group-prepend bg-primary">
                                <span class="input-group-text bg-transparent">
                                  <i class="text-white fa fa-shield"></i>
                                </span>
                              </div>
                              <input type="password" class="form-control" name="confirmedPassword" ngModel placeholder="*************">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <button type="submit" class="btn btn-primary btn-block">Changer mot de passe</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <app-footer></app-footer>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->